<h1>Sign Up</h1>

<%= form_for @user do |f| %>
<!--<h3>City</h3>
<%= f.collection_select :community_id, Community.all, :id, :location, include_blank: "Select City" %>
<br>
<br> -->
  <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>
  <br>
    <div>
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </div>
  <br>
  <div>
    <%= f.label :password %> <br>
    <%= f.password_field :password %>
  </div>
  <br>
  <%= f.submit %>
<% end %>