<div class="header container center-align">
<h1>Sign Up</h1>
</div>

<div class="container">
<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>
  <br>
    <div>
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </div>
  <br>
  <div>
    <%= f.label :password %> <br>
    <%= f.password_field :password %>
  </div>
  <br>
  <%= f.submit %>
<% end %>
</div>