<style>
  .calender {
    padding: 40px, 0px, 80px, 0px;
  }
</style>

<div class="container row">
    <div class="col s8 offset-s2">
    <h1 class="center-align">Projects in <%= current_user.community.location_name %></h1>
      <%= render partial: 'projects/calender', locals: {projects: @projects}%>
    </div>
</div>   

<div class="container row">
  <div class ="col s10 offset-s1">


    <ul>
      <% @projects.each do |project| %>
      <div class="card-panel m4">
        <h5 class="center-align"><%=link_to project.title, project_path(project)%></h5>
        <h6><%= project.community.location.capitalize %>, <%= project.state.name %></h6>
        <h6><%= project.date %></h6>
        <h6><%= project.pledges.length %>/<%= project.min_volunteers %> volunteers commited</h6>
      </div>
      <%end%>
    </ul>

  </div>
</div>