<h1><%= @project.title%></h1>
<h3>Organized by: <%= @project.organizer.name %></h3>
<h3><%= @project.community.location %></h3>
<h3><%= @project.date %></h3>
<h3><%= @project.address %></h3>
<h3><%= @project. description %></h3>
<h3>Estimated Time Needed: <%= @project.estimated_hours %></h3>
<h3>#current pledges/<%= @project.min_volunteers %> Volunteers!</h3>
<br>
<% if current_user == @project.organizer %>
  <%= button_to "Edit", edit_project_path(@project), method: :get %>
  <%= button_to "Delete", project_path(@project), method: :delete%>
<% else %>
 <%= button_to "Pledge your Time!"%>
<%end%>

