<style>

  .fixedContainer {
    background-color:#ddd;
    position: fixed;
    padding: 2em;
    left: 69%;
    top: 25%;
    transform: translateX(-50%);
}

  .sideStatus {
    background-color: white;
    radius: 2px;
    padding: 10px, 10px, 10px, 10px;
    box-shadow: 1px 1px 9px 5px #E5E4E2
  }

  .projectTitle {
    text-align: center;
    padding-bottom: 50px;
  }

  .div1 {
    border-bottom: 1px solid #E5E4E2;
  }

  .description {
    padding: 0px, 20px, 0px, 0px
  }

</style>


<div class="container row">
  <div class="projectTitle">
    <h1><b><%= @project.title%></b></h1>
    <h5><%= @project.community.location.capitalize %>, <%= @project.state.name %></h5>
  </div>

  
  <div class="col s4 offset-s1">
    <h4>Project description</h4>
    <h6><%= @project. description %></h6>
    <h6>Estimated Hours Needed: <%= @project.estimated_hours %></h6>
    <br>
    <h4>When/Where</h4>
    <h6><%= @project.date.strftime("%A, %B %d %Y")%></h6>
    <h6><%= @project.address %></h6>
    <br>
    <h6>Organizer: <%= @project.organizer.name %></h6>
    <h6>Organizer email: <%= @project.organizer.email %></h6>
    <br>
  </div>
  
  
  <div class="sideStatus col s5 offset-s1 center-align">
    <br>
    <% if pledge_time_remaining(@project) > 0 %>
      <h6><b><%= pledge_time_remaining(@project)%> pledged-hours left until we reach our goal</b></h6>
      <progress value=<%=total_pledge_time(@project)%> max=<%= @project.estimated_hours %>></progress>
    <% else %>
      <h6><b>Volutnteer hours goal has been met!!!</b></h6>
      <progress value=<%=total_pledge_time(@project)%> max=<%= @project.estimated_hours %>></progress>
    <% end %>
    <!-- <h6><b><%= @project.pledges.length %>/<%= @project.min_volunteers %> Volunteers Commited!</b></h6>
    <progress value=<%=@project.pledges.length%> max=<%= @project.min_volunteers %>></progress> -->
    <br>
    <br>
      <%= render partial: 'options', locals: {project: @project} %>
    <br>
    <h6 class="purple-text text-lighten-2"><b><%= @project.date.mjd - Date.today.mjd %> days left until project date!</b></h6>
    <br>
    <h6><b>Recent Activity</b></h6>
    <h6 class="left-align"><%= render partial: 'pledges', locals: {pledges: @pledges} %></h6>
    <% if @project.pledges.length > 3 %>
      <%= button_to "View All Pledges", project_pledges_path(@project), method: :get, :class => "btn green lighten-1 white-text"%>
    <% end %>
    <br>
  </div>
  

</div>

<div class="container row">
  <div class="col s8 offset-s2">
 
  <div class="div1">
    <h4>Activity(<%= @project.pledges.length %>)</h4>
  </div>

    <ul>
      <h6><%= render @pledges %></h6>
    </ul>

    <% if @project.pledges.length > 3 %>
    <div class="center-align">
      <%= button_to "View All Pledges", project_pledges_path(@project), method: :get, :class => "btn green lighten-1 white-text"%>
    </div>
    <% end %>

  </div>
</div>
