<h1><%= @project.title%></h1>
<h3>Organized by: <%= @project.organizer.name %></h3>
<h3><%= @project.community.location.capitalize %>, <%= @project.state.name %></h3>
<h3><%= @project.date.strftime("%A, %B %d %Y")%></h3>
<h3><%= @project.address %></h3>
<h3><%= @project. description %></h3>
<h3>Estimated Total Time Needed: <%= @project.estimated_hours %> hours</h3>
<h3>Pledged hours left until we reach our goal! <%= pledge_time_remaining(@project)%></h3>
<h3><%= @project.pledges.length %>/<%= @project.min_volunteers %> Volunteers Commited!</h3>
<br>

<%= render partial: 'options', locals: {project: @project} %>

<ul>
  <%= render @pledges %>
</ul>

<% if @project.pledges.length > 3 %>
  <%= link_to "View All Pledges", project_pledges_path(@project) %>
<% end %>

