<style>

  .fixedContainer {
    background-color:#ddd;
    position: fixed;
    padding: 2em;
    left: 69%;
    top: 25%;
    transform: translateX(-50%);
}

  .sideStatus {
    background-color: #dddd;
    padding: 10px, 10px, 10px, 10px;
  }

  .projectTitle {
    text-align: center;
    padding-bottom: 50px;
  }
</style>


<div class="container row">
  <div class="projectTitle">
    <h1><%= @project.title%></h1>
    <h5><%= @project.community.location.capitalize %>, <%= @project.state.name %></h5>
  </div>
  <div class="col s8">
    <h3>Organized by: <%= @project.organizer.name %></h3>
    <h4>Organizer email: <%= @project.organizer.email %></h4>
    <br>
    <h4 class="center-align">Project description</h4>
    <h5><%= @project. description %></h5>
    <h5><%= @project.date.strftime("%A, %B %d %Y")%></h5>
    <h5><%= @project.address %></h5>
    <h6>Estimated Total Time Needed: <%= @project.estimated_hours %> hours</h6>
  </div>
  
  <!-- <div class="col s12 m4"> -->
  <div class="sideStatus col s4">
    <h6>Pledged hours left until we reach our goal: <%= pledge_time_remaining(@project)%>!</h6>
    <br>
    <h6><%= @project.pledges.length %>/<%= @project.min_volunteers %> Volunteers Commited!</h6>
    <br>
    <h6>Recent Activity</h6>
    <h6><%= render partial: 'pledges', locals: {pledges: @pledges} %></h6>
    <h6><%= link_to "View All Pledges", project_pledges_path(@project) %></h6>
  </div>
  <!-- </div> -->

</div>

<div class="container row">
  <div class="col s8">
    <%= render partial: 'options', locals: {project: @project} %>

    <ul>
      <h5 class="center-align"><%= render @pledges %></h5>
    </ul>

    <% if @project.pledges.length > 3 %>
      <h5 class="center-align"><%= link_to "View All Pledges", project_pledges_path(@project) %></h5>
    <% end %>
  </div>
</div>
